<main>
  <div class="container px-5 px-sm-0">

      <h3>マイページ</h3>
      <h4>登録情報</h4>
      <%= link_to "編集する", customers_edit_path %>
      <p>氏名:<%= @customer.last_name %>　<%= @customer.first_name %><br>
      フリガナ:<%= @customer.last_name_kana %> <%= @customer.first_name_kana %><br>
      郵便番号:<%= @customer.postal_code %><br>
      住所:<%= @customer.address %><br>
      電話番号:<%= @customer.telephone_number %><br>
      メールアドレス:<%= @customer.email %></p>
      
      <h4>配送先</h4>
      <%= link_to "一覧を見る", addresses_path %>
      <h4>注文履歴</h4>
      <%= link_to "一覧を見る", orders_path %>

  </div>
</main>
