<h1>Customers#show マイページ</h1>
<h2>登録情報</h2>
<%= link_to "編集する", customers_edit_path %>
<h3><%= @customer.last_name %></h3>
<h3><%= @customer.first_name %></h3>
<h3><%= @customer.last_name_kana %></h3>
<h3><%= @customer.first_name_kana %></h3>
<h3><%= @customer.email %></h3>
<h3><%= @customer.postal_code %></h3>
<h3><%= @customer.address %></h3>
<h3><%= @customer.telephone_number %></h3>

<h2>配送先</h2>
<h2>注文履歴</h2>



