<main>
<div class="container px-5 px-sm-0">


      <h4>商品新規登録</h4>
       <%= form_with model: @item, url: admin_items_path, local: true do |f| %>

          商品画像
              <%= f.file_field :item_image, accept: "image/*" %><br>
          商品名
            <%= f.text_field :name, placeholder:"商品名" %><br>
          商品説明
            <%= f.text_area :introduction, placeholder:"ここに説明文を記載します" %><br>
          ジャンル
          <%= f.select :genre_id, options_from_collection_for_select(@genres, :id, :name) %><br>
          税抜価格
          <%= f.text_field :price, placeholder:"1000"  %>円<br>
          販売ステータス<br>
          <%= f.radio_button :is_active, :true %><br>
          <p>販売中</p>
          <%= f.radio_button :is_active, :false %> <br>
          <p>販売停止中</p>
          <%= f.submit '新規投稿' %>
        <% end %>

  </div>
</main>
