<h3><%= @customer.last_name + @customer.first_name %>さん会員詳細</h3>

  <h3><%= @customer.id %></h3>
  <h3><%= @customer.last_name %></h3>
  <h3><%= @customer.first_name %></h3>
  <h3><%= @customer.postal_code %></h3>
  <h3><%= @customer.address %></h3>
  <h3><%= @customer.telephone_number%></h3>
  <h3><%= @customer.email %></h3>
  <h3><%= @customer.is_active %></h3>

  <p><%= link_to "編集する", edit_admin_customer_path %></p>
  <p><%= link_to "注文履歴一覧を見る", admin_items_path %></p>

