<main>
　<div class="container px-5 px-sm-0">      
      
      <h5><%= @customer.last_name + @customer.first_name %>さん会員詳細</h5>
      
        会員ID:<%= @customer.id %><br>
        氏名:<%= @customer.last_name + @customer.first_name%><br>
        フリガナ:<%= @customer.last_name_kana + @customer.first_name_kana %><br>
        郵便番号:<%= @customer.postal_code %><br>
        住所:<%= @customer.address %><br>
        電話番号:<%= @customer.telephone_number%><br>
        メールアドレス:<%= @customer.email %><br>
        会員ステータス:<% if @customer.is_deleted == false %>
                        有効
                       <% else %>
                        退会
                      <% end %>
            
      
        <p><%= link_to "編集する", edit_admin_customer_path %></p>
        <p><%= link_to "注文履歴一覧を見る", admin_items_path %></p>
  </div>
</main>        

