<main>
<div class="container px-5 px-sm-0">
    <!--<div class="col-md-1" >  
    </div>-->
    <div class="row">
      <div class="col-md-10 offset-md-1 text-center">
        <h3><%= @genre.name %>一覧</h3>
        <% @genre.items.each do |item| %>
            <div class="col">
              <div class="flex-container">
                <div class="flex-item">
                    <div class="image-wrap">
                    <%= link_to item_path(item.id) do %>
                          <%= image_tag item.get_item_image(100,100) %>
                      <% end %>  
                    <p><%= item.name %></p>
                    <p>¥<%= item.price %></p>
                    </div>
                </div>    
              </div>      
            </div>
        <% end %>
      </div>
    </div>  
</div>
</main>
