<main>
   <div class="container px-5 px-sm-0">
      <div class="col-md-10 offset-md-1 text-center">
       
       <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
       <% end %>

            <h5>ショッピングカート</h5>
            <%= link_to "カートを空にする", cart_items_destroy_all_path,  method: :delete %><br>
             <div class="row">
                <% @sam = 0 %>
                <% @cart_items.each do |cart_item| %>
                <div class="col-xl-2">
                <%= image_tag cart_item.item.get_item_image(100,100) %>
                </div>
                <div class="col-xl-2">
                  <p>商品名：<%= cart_item.item.name %></p>
                </div>
                <div class="col-xl-2">
                  <p>税込価格(税込)：<%= (cart_item.item.price.to_i * 1.1).floor %>円</p>
                </div>
                <div class="col-xl-2">
                  <%= form_with model: cart_item, url: cart_item_path(cart_item.id), local: true do |f| %>
                  <%= f.select :amount, [["1"], ["2"], ["3"], ["4"], ["5"], ["6"], ["7"], ["8"]], include_blank: "cart_item.amount" %>
                  <%= f.submit '変更' %>
                  <% end %>
                </div>
                <div class="col-xl-2">
                  <p>小計：<%= (cart_item.item.price.to_i * 1.1).floor * cart_item.amount %>円</p>
                </div>
                <div class="col-xl-2">
                  <%= link_to "削除する", cart_item_path(cart_item.id),  method: :delete %><br>
                  <% @sam += (cart_item.item.price.to_i * 1.1).floor * cart_item.amount %>
                </div>
                <% end %>
             </div>


              <p>合計：<%= @sam %>円</p>
              <%= link_to "買い物を続ける", root_path %><br>
              <%= link_to "情報入力に進む", new_order_path %>


      </div>
   </div>
</main>
