<main>
   <div class="container px-5 px-sm-0">
      <div class="col-md-10 offset-md-1 text-left">


          <h4>注文情報入力</h4>
          <%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
          <h5>支払方法</h5>
          <div class="radio-inline">
              <%= f.radio_button :payment_method, :credit_card, checked: "checked" %>
              <%= f.label Order.payment_methods_i18n[:credit_card] %>
          </div>
          
          <div class="radio-inline">
              <%= f.radio_button :payment_method, :transfer %>
              <%= f.label Order.payment_methods_i18n[:transfer] %>
          </div>
          <%= f.hidden_field :shipping_cost, :value => 800 %>
          <h5>お届け先</h5>
          <div class="radio-inline">
              <%= f.radio_button :select_address, :"0", checked: "checked" %>
              <%= f.label :ご自身の住所 %>
              <%= @customer.postal_code %>
              <%= @customer.address %>
              <%= @customer.last_name %>
              <%= @customer.first_name %>
          </div>
          
          <div class="radio-inline">
              <%= f.radio_button :select_address, :"1" %>
              <%= f.label :登録済み住所から選択 %>
              <%= f.collection_select :address_id, @customer.addresses, :id, :view_address_and_name %>
          </div>
          
          <div class="radio-inline">
              <%= f.radio_button :select_address, :"2" %>
              <%= f.label :新しいお届け先 %>
          
          
                <div class="field">
                  <%= f.label :postal_code, "郵便番号(ハイフンなし)" %><br>
                  <%= f.text_field :postal_code, placeholder:"0000000" %>
                </div>
          
                <div class="field">
                  <%= f.label :address, "住所" %><br>
                  <%= f.text_field :address, placeholder:"東京都渋谷区代々木上原1-5", :size => "50*50" %>
                </div>
          
                <div class="field">
                  <%= f.label :name, "宛名" %><br>
                  <%= f.text_field :name, placeholder:"令和理子" %>
                </div>
           </div>
          
           <%= f.submit '確認画面へ進む' %>
          
          <% end %>
          
      </div> 
   </div>
</main>          