<main>
   <div class="container px-5 px-sm-0">            
            
            <h4>注文履歴詳細</h4>
            <h6>注文詳細</h6>
            注文日：<%= @order.created_at.strftime('%Y/%m/%d') %><br>
            配送先：<%= @order.postal_code %><br>
            <%= @order.address %><br>
            <%= @order.name %><br>
            支払方法：<%= @order.payment_method_i18n %><br>
            ステータス：<%= @order.status_i18n %><br>
            <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------</p>
            <h6>請求情報</h6>
            商品合計：<%= @order.billing_amount - @order.shipping_cost %>円<br>
            配送料：<%= @order.shipping_cost %>円<br>
            ご請求金額：<%= @order.billing_amount %>円<br>
            
　　　　　　<p>-----------------------------------------------------------------------------------------------------------------------------------------------------------</p>
            <h6>注文内容</h6>   
               <% @order.order_details.each do |order_detail| %>
             <div class="row"> 
               <div class="col-xl-2">
                  商品名：<%= order_detail.item.name %><br>
               </div>
               <div class="col-xl-2">   
                 単価(税込)：<%= (order_detail.item.price.to_i * 1.1).floor %>円<br>
               </div>
               <div class="col-xl-2">    
                  個数：<%= order_detail.amount %>個<br>
               </div>
               <div class="col-xl-2">    
                  小計：<%= (order_detail.item.price.to_i * 1.1).floor * order_detail.amount %>円<br>
               </div>
              </div>   
               <% end %>
 
                  
            

   </div>
</main>

